$white: #FFFFFF;
$dark_white: #F5F4F4;
$light_gray: #DDDBDC;
$gray: #737373;
$dark_gray: #4C4C4B;
$light_black: #262626;
$black: #000000;
$red: #D0021B;
$milky: #E6DED8;
$main_font_light: 'Maison Neue Light';
$main_font_bold: 'Maison Neue Bold'